nav#nav-header{
    background-image: linear-gradient(to right, #FF4B91 100%, #cf3872 );
}

h1{
    color: #FF7676;
}

a{
    color: white;
}

img#imagen-header{
    height: 40vh;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}

img#foto-cachorro-banho{
    height: 53vh;
    object-fit: cover;
}

main{
    background-color: #FFCD4B;
}

div#sobre{
    background-color: white;
    border-radius: 20px;
}

div#carrosel{
    border-radius: 20px;
}

p {
    line-height: 1.6;
    text-align: start; 
    text-indent: 20px;
  }

section#servicos{
    background-color: #FF4B91;
    padding: 20px;
    
}

div#div-servicos{
    background-color: #FFCD4B;
    padding: 10px;
    border-radius: 10px;
}

li{
    padding: 5px;
}

footer{
    background-color: #0802A3;
}

footer  P{
    color: white;
}
  