html, body{
    height: 100vh;
    background-image: linear-gradient(to right, #f5ec38, #32a9e9);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form{
    width: 45vw;
    height: 70vh;
    border-radius: 20px;
    background-color: white;
}

h1#h1-do-form{
    background-color: rgb(18, 44, 129);
    padding: 40px;
    border-radius: 20px 20px 0px 0px;
    color: white;
}

div#div-container-form{
    margin-top: 90px;
    padding: 20px;
}

a{
    text-decoration: none;
    color: white;
}